inst/xsd/lib/eml2tonbii/nbii1999.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Daniel F Higgins (private) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="absres" type="xs:string"/>
	<xs:element name="abstract" type="xs:string"/>
	<xs:element name="accconst" type="xs:string"/>
	<xs:element name="accinstr" type="xs:string"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="addrtype" type="xs:string"/>
	<xs:element name="albers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stdparll" maxOccurs="unbounded"/>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="almax" type="xs:string"/>
	<xs:element name="altdatum" type="xs:string"/>
	<xs:element name="altenc" type="xs:string"/>
	<xs:element name="altmin" type="xs:string"/>
	<xs:element name="altres" type="xs:string"/>
	<xs:element name="altsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="altdatum"/>
				<xs:element ref="altres" maxOccurs="unbounded"/>
				<xs:element ref="altunits"/>
				<xs:element ref="altenc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="altunits" type="xs:string"/>
	<xs:element name="arcsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arczone"/>
				<xs:choice>
					<xs:element ref="equirect"/>
					<xs:element ref="azimequi"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arczone" type="xs:string"/>
	<xs:element name="asciistr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recdel" minOccurs="0"/>
				<xs:element ref="numheadl"/>
				<xs:element ref="deschead" minOccurs="0"/>
				<xs:element ref="orienta"/>
				<xs:element ref="casesens"/>
				<xs:element ref="authent" minOccurs="0"/>
				<xs:element ref="quotech" minOccurs="0"/>
				<xs:element ref="datafiel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attrlabl"/>
				<xs:element ref="attrdef"/>
				<xs:element ref="attrdefs"/>
				<xs:element ref="attrdomv" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="begdatea"/>
					<xs:element ref="enddatea" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="attrvai" minOccurs="0"/>
				<xs:element ref="attrmfrq" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attracc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attraccr"/>
				<xs:element ref="qattracc" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attracce" type="xs:string"/>
	<xs:element name="attraccr" type="xs:string"/>
	<xs:element name="attraccv" type="xs:string"/>
	<xs:element name="attrdef" type="xs:string"/>
	<xs:element name="attrdefs" type="xs:string"/>
	<xs:element name="attrdomv">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="edom" maxOccurs="unbounded"/>
				<xs:element ref="rdom"/>
				<xs:element ref="codesetd"/>
				<xs:element ref="udom"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrlabl" type="xs:string"/>
	<xs:element name="attrmfrq" type="xs:string"/>
	<xs:element name="attrmres" type="xs:string"/>
	<xs:element name="attrunit" type="xs:string"/>
	<xs:element name="attrva" type="xs:string"/>
	<xs:element name="attrvae" type="xs:string"/>
	<xs:element name="attrvai">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attrva"/>
				<xs:element ref="attrvae"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authent" type="xs:string"/>
	<xs:element name="availabl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="timeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="azimangl" type="xs:string"/>
	<xs:element name="azimequi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="azimptl" type="xs:string"/>
	<xs:element name="bearrefd" type="xs:string"/>
	<xs:element name="bearrefm" type="xs:string"/>
	<xs:element name="bearres" type="xs:string"/>
	<xs:element name="bearunit" type="xs:string"/>
	<xs:element name="begdate" type="xs:string"/>
	<xs:element name="begdatea" type="xs:string"/>
	<xs:element name="beggeol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="geolage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="begtime" type="xs:string"/>
	<xs:element name="boundalt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="altmin"/>
				<xs:element ref="almax"/>
				<xs:element ref="altunits"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bounding">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="westbc"/>
				<xs:element ref="eastbc"/>
				<xs:element ref="northbc"/>
				<xs:element ref="southbc"/>
				<xs:element ref="boundalt" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="browse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="browsen"/>
				<xs:element ref="browsed"/>
				<xs:element ref="browset"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="browsed" type="xs:string"/>
	<xs:element name="browsen" type="xs:string"/>
	<xs:element name="browset" type="xs:string"/>
	<xs:element name="caldate" type="xs:string"/>
	<xs:element name="casesens" type="xs:string"/>
	<xs:element name="citation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="citeinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="origin" maxOccurs="unbounded"/>
				<xs:element ref="pubdate"/>
				<xs:element ref="pubtime" minOccurs="0"/>
				<xs:element ref="title"/>
				<xs:element ref="edition" minOccurs="0"/>
				<xs:element ref="geoform"/>
				<xs:element ref="serinfo" minOccurs="0"/>
				<xs:element ref="pubinfo" minOccurs="0"/>
				<xs:element ref="othercit" minOccurs="0"/>
				<xs:element ref="onlink" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="lworkcit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="classcit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="classmod" type="xs:string"/>
	<xs:element name="classsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classcit"/>
				<xs:element ref="classmod" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cloud" type="xs:string"/>
	<xs:element name="cntaddr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="addrtype"/>
				<xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="postal"/>
				<xs:element ref="country" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntemail" type="xs:string"/>
	<xs:element name="cntfax" type="xs:string"/>
	<xs:element name="cntinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="cntperp"/>
					<xs:element ref="cntorgp"/>
				</xs:choice>
				<xs:element ref="cntpos" minOccurs="0"/>
				<xs:element ref="cntaddr" maxOccurs="unbounded"/>
				<xs:element ref="cntvoice" maxOccurs="unbounded"/>
				<xs:element ref="cnttdd" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cntfax" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cntemail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="hours" minOccurs="0"/>
				<xs:element ref="cntinst" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntinst" type="xs:string"/>
	<xs:element name="cntorg" type="xs:string"/>
	<xs:element name="cntorgp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntorg"/>
				<xs:element ref="cntper" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntper" type="xs:string"/>
	<xs:element name="cntperp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntper"/>
				<xs:element ref="cntorg" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntpos" type="xs:string"/>
	<xs:element name="cnttdd" type="xs:string"/>
	<xs:element name="cntvoice" type="xs:string"/>
	<xs:element name="codesetd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codesetn"/>
				<xs:element ref="codesets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="codesetn" type="xs:string"/>
	<xs:element name="codesets" type="xs:string"/>
	<xs:element name="colcount" type="xs:string"/>
	<xs:element name="common" type="xs:string"/>
	<xs:element name="compat" type="xs:string"/>
	<xs:element name="complete" type="xs:string"/>
	<xs:element name="compress" type="xs:string"/>
	<xs:element name="computer">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="networka"/>
				<xs:element ref="dialinst"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="coordrep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="absres"/>
				<xs:element ref="ordres"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="crossref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="current" type="xs:string"/>
	<xs:element name="custom" type="xs:string"/>
	<xs:element name="datacred" type="xs:string"/>
	<xs:element name="datafiel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dfieldnm"/>
				<xs:element ref="missingv" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="dfwidthd"/>
					<xs:element ref="dfwidth"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataqual">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attracc" minOccurs="0"/>
				<xs:element ref="logic"/>
				<xs:element ref="complete"/>
				<xs:element ref="posacc" minOccurs="0"/>
				<xs:element ref="lineage"/>
				<xs:element ref="cloud" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="denflat" type="xs:string"/>
	<xs:element name="depthdn" type="xs:string"/>
	<xs:element name="depthdu" type="xs:string"/>
	<xs:element name="depthem" type="xs:string"/>
	<xs:element name="depthres" type="xs:string"/>
	<xs:element name="depthsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="depthdn"/>
				<xs:element ref="depthres" maxOccurs="unbounded"/>
				<xs:element ref="depthdu"/>
				<xs:element ref="depthem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descgeog" type="xs:string"/>
	<xs:element name="deschead" type="xs:string"/>
	<xs:element name="descript">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="abstract"/>
				<xs:element ref="purpose"/>
				<xs:element ref="supplinf" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="detailed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enttyp"/>
				<xs:element ref="attr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dfieldnm" type="xs:string"/>
	<xs:element name="dfwidth" type="xs:string"/>
	<xs:element name="dfwidthd" type="xs:string"/>
	<xs:element name="dialfile" type="xs:string"/>
	<xs:element name="dialinst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lowbps"/>
				<xs:element ref="highbps" minOccurs="0"/>
				<xs:element ref="numdata"/>
				<xs:element ref="numstop"/>
				<xs:element ref="parity"/>
				<xs:element ref="compress" minOccurs="0"/>
				<xs:element ref="dialtel" maxOccurs="unbounded"/>
				<xs:element ref="dialfile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dialtel" type="xs:string"/>
	<xs:element name="digform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="digtinfo"/>
				<xs:element ref="digtopt"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="digtinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formname"/>
				<xs:sequence minOccurs="0">
					<xs:choice>
						<xs:element ref="formvern"/>
						<xs:element ref="formverd"/>
					</xs:choice>
					<xs:element ref="formspec" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="asciistr" minOccurs="0"/>
				<xs:element ref="formcont" minOccurs="0"/>
				<xs:element ref="filedec" minOccurs="0"/>
				<xs:element ref="transize" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="digtopt">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="onlinopt"/>
					<xs:element ref="offoptn"/>
				</xs:choice>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="direct" type="xs:string"/>
	<xs:element name="distbrep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distres"/>
				<xs:element ref="bearres"/>
				<xs:element ref="bearunit"/>
				<xs:element ref="bearrefd"/>
				<xs:element ref="bearrefm"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distrib"/>
				<xs:sequence>
					<xs:element ref="resdesc" minOccurs="0"/>
					<xs:element ref="distliab"/>
					<xs:element ref="stdorder" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="custom" minOccurs="0"/>
					<xs:element ref="techpreq" minOccurs="0"/>
					<xs:element ref="availabl" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distliab" type="xs:string"/>
	<xs:element name="distres" type="xs:string"/>
	<xs:element name="distrib">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsgpoly">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsgpolyo"/>
				<xs:element ref="dsgpolyx" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsgpolyo">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="gring"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsgpolyx">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin"/>
					<xs:element ref="grngpoin" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="gring"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="eadetcit" type="xs:string"/>
	<xs:element name="eainfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="detailed" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="overview" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eaover" type="xs:string"/>
	<xs:element name="eastbc" type="xs:string"/>
	<xs:element name="edition" type="xs:string"/>
	<xs:element name="edom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edomv"/>
				<xs:element ref="edomvd"/>
				<xs:element ref="edomvds"/>
				<xs:element ref="attr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="edomv" type="xs:string"/>
	<xs:element name="edomvd" type="xs:string"/>
	<xs:element name="edomvds" type="xs:string"/>
	<xs:element name="ellips" type="xs:string"/>
	<xs:element name="enddate" type="xs:string"/>
	<xs:element name="enddatea" type="xs:string"/>
	<xs:element name="endgeol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="geolage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endtime" type="xs:string"/>
	<xs:element name="enttyp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enttypl"/>
				<xs:element ref="enttypd"/>
				<xs:element ref="enttypds"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="enttypd" type="xs:string"/>
	<xs:element name="enttypds" type="xs:string"/>
	<xs:element name="enttypl" type="xs:string"/>
	<xs:element name="equicon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stdparll" maxOccurs="unbounded"/>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="equirect">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stdparll"/>
				<xs:element ref="longcm"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feast" type="xs:string"/>
	<xs:element name="fees" type="xs:string"/>
	<xs:element name="filedec" type="xs:string"/>
	<xs:element name="fnorth" type="xs:string"/>
	<xs:element name="formcont" type="xs:string"/>
	<xs:element name="formname" type="xs:string"/>
	<xs:element name="formspec" type="xs:string"/>
	<xs:element name="formverd" type="xs:string"/>
	<xs:element name="formvern" type="xs:string"/>
	<xs:element name="geodetic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horizdn" minOccurs="0"/>
				<xs:element ref="ellips"/>
				<xs:element ref="semiaxis"/>
				<xs:element ref="denflat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="geoform" type="xs:string"/>
	<xs:element name="geograph">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="latres"/>
				<xs:element ref="longres"/>
				<xs:element ref="geogunit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="geogunit" type="xs:string"/>
	<xs:element name="geolage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="geolscal"/>
				<xs:element ref="geolest"/>
				<xs:element ref="geolun" minOccurs="0"/>
				<xs:element ref="geolexpl" minOccurs="0"/>
				<xs:element ref="geolcit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="geolcit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="geolest" type="xs:string"/>
	<xs:element name="geolexpl" type="xs:string"/>
	<xs:element name="geolscal" type="xs:string"/>
	<xs:element name="geolun" type="xs:string"/>
	<xs:element name="gnomonic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gridsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gridsysn"/>
				<xs:choice>
					<xs:element ref="utm"/>
					<xs:element ref="ups"/>
					<xs:element ref="spcs"/>
					<xs:element ref="arcsys"/>
					<xs:element ref="othergrd"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gridsysn" type="xs:string"/>
	<xs:element name="gring" type="xs:string"/>
	<xs:element name="gringlat" type="xs:string"/>
	<xs:element name="gringlon" type="xs:string"/>
	<xs:element name="grngpoin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gringlat"/>
				<xs:element ref="gringlon"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gvnsp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="heightpt"/>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="heightpt" type="xs:string"/>
	<xs:element name="highbps" type="xs:string"/>
	<xs:element name="horizdn" type="xs:string"/>
	<xs:element name="horizpa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horizpar"/>
				<xs:element ref="qhorizpa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="horizpae" type="xs:string"/>
	<xs:element name="horizpar" type="xs:string"/>
	<xs:element name="horizpav" type="xs:string"/>
	<xs:element name="horizsys">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="geograph"/>
					<xs:element ref="planar" maxOccurs="unbounded"/>
					<xs:element ref="local"/>
				</xs:choice>
				<xs:element ref="geodetic" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hours" type="xs:string"/>
	<xs:element name="ider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citation"/>
				<xs:element ref="descript"/>
				<xs:element ref="timeperd"/>
				<xs:element ref="status"/>
				<xs:element ref="spdom" minOccurs="0"/>
				<xs:element ref="keywords"/>
				<xs:element ref="taxonomy" minOccurs="0"/>
				<xs:element ref="accconst"/>
				<xs:element ref="useconst"/>
				<xs:element ref="ptcontac" minOccurs="0"/>
				<xs:element ref="browse" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="datacred" minOccurs="0"/>
				<xs:element ref="secinfo" minOccurs="0"/>
				<xs:element ref="native" minOccurs="0"/>
				<xs:element ref="crossref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tool" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="indspref" type="xs:string"/>
	<xs:element name="issue" type="xs:string"/>
	<xs:element name="keywords">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="theme" maxOccurs="unbounded"/>
				<xs:element ref="place" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="stratum" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="temporal" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="keywtax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="taxonkt"/>
				<xs:element ref="taxonkey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lamberta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lambertc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stdparll" maxOccurs="unbounded"/>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="landsat" type="xs:string"/>
	<xs:element name="latprjc" type="xs:string"/>
	<xs:element name="latprjo" type="xs:string"/>
	<xs:element name="latres" type="xs:string"/>
	<xs:element name="lineage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="srcinfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="procstep" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="local">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="localdes"/>
				<xs:element ref="localgeo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localdes" type="xs:string"/>
	<xs:element name="localgeo" type="xs:string"/>
	<xs:element name="localp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="localpd"/>
				<xs:element ref="localpgi"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localpd" type="xs:string"/>
	<xs:element name="localpgi" type="xs:string"/>
	<xs:element name="logic" type="xs:string"/>
	<xs:element name="longcm" type="xs:string"/>
	<xs:element name="longpc" type="xs:string"/>
	<xs:element name="longres" type="xs:string"/>
	<xs:element name="lowbps" type="xs:string"/>
	<xs:element name="lworkcit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapproj">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mapprojn"/>
				<xs:choice>
					<xs:element ref="albers"/>
					<xs:element ref="azimequi"/>
					<xs:element ref="equicon"/>
					<xs:element ref="equirect"/>
					<xs:element ref="gvnsp"/>
					<xs:element ref="gnomonic"/>
					<xs:element ref="lamberta"/>
					<xs:element ref="lambertc"/>
					<xs:element ref="mercator"/>
					<xs:element ref="modsak"/>
					<xs:element ref="miller"/>
					<xs:element ref="obqmerc"/>
					<xs:element ref="orthogr"/>
					<xs:element ref="polarst"/>
					<xs:element ref="polycon"/>
					<xs:element ref="robinson"/>
					<xs:element ref="sinusoid"/>
					<xs:element ref="spaceobq"/>
					<xs:element ref="stereo"/>
					<xs:element ref="transmer"/>
					<xs:element ref="vdgrin"/>
					<xs:element ref="otherprj"/>
					<xs:element ref="mapprojp"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapprojn" type="xs:string"/>
	<xs:element name="mapprojp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="azimptl" minOccurs="0"/>
				<xs:element ref="azimangl" minOccurs="0"/>
				<xs:element ref="feast" minOccurs="0"/>
				<xs:element ref="fnorth" minOccurs="0"/>
				<xs:element ref="heightpt" minOccurs="0"/>
				<xs:element ref="landsat" minOccurs="0"/>
				<xs:element ref="latprjc" minOccurs="0"/>
				<xs:element ref="latprjo" minOccurs="0"/>
				<xs:element ref="longcm" minOccurs="0"/>
				<xs:element ref="longpc" minOccurs="0"/>
				<xs:element ref="obqllat" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="obqllong" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="pathnum" minOccurs="0"/>
				<xs:element ref="sfctrlin" minOccurs="0"/>
				<xs:element ref="sfctrmer" minOccurs="0"/>
				<xs:element ref="sfequat" minOccurs="0"/>
				<xs:element ref="sfprjorg" minOccurs="0"/>
				<xs:element ref="stdparll" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="svlong" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdattim">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sngdate" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mercator">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="stdparll"/>
					<xs:element ref="sfequat"/>
				</xs:choice>
				<xs:element ref="longcm"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metac" type="xs:string"/>
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="idinfo"/>
				<xs:element ref="dataqual" minOccurs="0"/>
				<xs:element ref="spdoinfo" minOccurs="0"/>
				<xs:element ref="spref" minOccurs="0"/>
				<xs:element ref="eainfo" minOccurs="0"/>
				<xs:element ref="distinfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="metainfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metainfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metd"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="metrd"/>
					<xs:element ref="metfrd" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="metc"/>
				<xs:element ref="metstdn"/>
				<xs:element ref="metstdv"/>
				<xs:element ref="mettc" minOccurs="0"/>
				<xs:element ref="metac" minOccurs="0"/>
				<xs:element ref="metuc" minOccurs="0"/>
				<xs:element ref="metsi" minOccurs="0"/>
				<xs:element ref="metextns" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metd" type="xs:string"/>
	<xs:element name="metextns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="onlink" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="metprof" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metfrd" type="xs:string"/>
	<xs:element name="methcite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="methdesc" type="xs:string"/>
	<xs:element name="methkey" type="xs:string"/>
	<xs:element name="methkt" type="xs:string"/>
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="methtype"/>
				<xs:element ref="methodid" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="methdesc"/>
				<xs:element ref="methcite" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="methodid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="methkt"/>
				<xs:element ref="methkey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="methtype" type="xs:string"/>
	<xs:element name="metprof" type="xs:string"/>
	<xs:element name="metrd" type="xs:string"/>
	<xs:element name="metsc" type="xs:string"/>
	<xs:element name="metscs" type="xs:string"/>
	<xs:element name="metshd" type="xs:string"/>
	<xs:element name="metsi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metscs"/>
				<xs:element ref="metsc"/>
				<xs:element ref="metshd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metstdn" type="xs:string"/>
	<xs:element name="metstdv" type="xs:string"/>
	<xs:element name="mettc" type="xs:string"/>
	<xs:element name="metuc" type="xs:string"/>
	<xs:element name="miller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longcm"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingv" type="xs:string"/>
	<xs:element name="modsak">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="native" type="xs:string"/>
	<xs:element name="networka">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="networkr" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="networkr" type="xs:string"/>
	<xs:element name="nondig" type="xs:string"/>
	<xs:element name="northbc" type="xs:string"/>
	<xs:element name="numdata" type="xs:string"/>
	<xs:element name="numheadl" type="xs:string"/>
	<xs:element name="numstop" type="xs:string"/>
	<xs:element name="obqlazim">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="azimangl"/>
				<xs:element ref="azimptl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="obqllat" type="xs:string"/>
	<xs:element name="obqllong" type="xs:string"/>
	<xs:element name="obqlpt">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="obqllat"/>
					<xs:element ref="obqllong"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="obqllat"/>
					<xs:element ref="obqllong"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="obqmerc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sfctrlin"/>
				<xs:choice>
					<xs:element ref="obqlazim"/>
					<xs:element ref="obqlpt"/>
				</xs:choice>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="offmedia" type="xs:string"/>
	<xs:element name="offoptn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="offmedia"/>
				<xs:element ref="reccap" minOccurs="0"/>
				<xs:element ref="recfmt" maxOccurs="unbounded"/>
				<xs:element ref="compat" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oncomp" type="xs:string"/>
	<xs:element name="onlink" type="xs:string"/>
	<xs:element name="onlinopt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="computer" maxOccurs="unbounded"/>
				<xs:element ref="accinstr" minOccurs="0"/>
				<xs:element ref="oncomp" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ordering" type="xs:string"/>
	<xs:element name="ordres" type="xs:string"/>
	<xs:element name="orienta" type="xs:string"/>
	<xs:element name="origin" type="xs:string"/>
	<xs:element name="orthogr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="othercit" type="xs:string"/>
	<xs:element name="othergrd" type="xs:string"/>
	<xs:element name="otherprj" type="xs:string"/>
	<xs:element name="overview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eaover"/>
				<xs:element ref="eadetcit" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parity" type="xs:string"/>
	<xs:element name="pathnum" type="xs:string"/>
	<xs:element name="place">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="placekt"/>
				<xs:element ref="placekey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="placekey" type="xs:string"/>
	<xs:element name="placekt" type="xs:string"/>
	<xs:element name="planar">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="mapproj"/>
					<xs:element ref="gridsys"/>
					<xs:element ref="localp"/>
				</xs:choice>
				<xs:element ref="planci"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plance" type="xs:string"/>
	<xs:element name="planci">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="plance"/>
				<xs:choice>
					<xs:element ref="coordrep"/>
					<xs:element ref="distbrep"/>
				</xs:choice>
				<xs:element ref="plandu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plandu" type="xs:string"/>
	<xs:element name="polarst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="svlong"/>
				<xs:choice>
					<xs:element ref="stdparll"/>
					<xs:element ref="sfprjorg"/>
				</xs:choice>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="polycon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="posacc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horizpa" minOccurs="0"/>
				<xs:element ref="vertacc" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="postal" type="xs:string"/>
	<xs:element name="proccont">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="procdate" type="xs:string"/>
	<xs:element name="procdesc" type="xs:string"/>
	<xs:element name="procstep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procdesc"/>
				<xs:element ref="srcused" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="procdate"/>
				<xs:element ref="proctime" minOccurs="0"/>
				<xs:element ref="srcprod" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="proccont" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="proctime" type="xs:string"/>
	<xs:element name="progress" type="xs:string"/>
	<xs:element name="ptcontac">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptvctcnt" type="xs:string"/>
	<xs:element name="ptvctinf">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="sdtsterm" maxOccurs="unbounded"/>
				<xs:element ref="vpfterm"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pubdate" type="xs:string"/>
	<xs:element name="pubinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pubplace"/>
				<xs:element ref="publish"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publish" type="xs:string"/>
	<xs:element name="pubplace" type="xs:string"/>
	<xs:element name="pubtime" type="xs:string"/>
	<xs:element name="purpose" type="xs:string"/>
	<xs:element name="qattracc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attraccv"/>
				<xs:element ref="attracce"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="qhorizpa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horizpav"/>
				<xs:element ref="horizpae"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quotech" type="xs:string"/>
	<xs:element name="qvertpa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vertaccv"/>
				<xs:element ref="vertacce"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rastinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rasttype"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="rowcount"/>
					<xs:element ref="colcount"/>
					<xs:element ref="vrtcount" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rasttype" type="xs:string"/>
	<xs:element name="rdom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdommin"/>
				<xs:element ref="rdommax"/>
				<xs:element ref="attrunit" minOccurs="0"/>
				<xs:element ref="attrmres" minOccurs="0"/>
				<xs:element ref="attr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdommax" type="xs:string"/>
	<xs:element name="rdommin" type="xs:string"/>
	<xs:element name="reccap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recden" maxOccurs="unbounded"/>
				<xs:element ref="recdenu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recdel" type="xs:string"/>
	<xs:element name="recden" type="xs:string"/>
	<xs:element name="recdenu" type="xs:string"/>
	<xs:element name="recfmt" type="xs:string"/>
	<xs:element name="reposit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resdesc" type="xs:string"/>
	<xs:element name="rngdates">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="begdate"/>
					<xs:element ref="begtime" minOccurs="0"/>
					<xs:element ref="enddate"/>
					<xs:element ref="endtime" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="beggeol"/>
					<xs:element ref="endgeol"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="robinson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longpc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rowcount" type="xs:string"/>
	<xs:element name="sdtsterm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sdtstype"/>
				<xs:element ref="ptvctcnt" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sdtstype" type="xs:string"/>
	<xs:element name="secclass" type="xs:string"/>
	<xs:element name="sechandl" type="xs:string"/>
	<xs:element name="secinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="secsys"/>
				<xs:element ref="secclass"/>
				<xs:element ref="sechandl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="secsys" type="xs:string"/>
	<xs:element name="semiaxis" type="xs:string"/>
	<xs:element name="serinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sername"/>
				<xs:element ref="issue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sername" type="xs:string"/>
	<xs:element name="sfctrlin" type="xs:string"/>
	<xs:element name="sfctrmer" type="xs:string"/>
	<xs:element name="sfequat" type="xs:string"/>
	<xs:element name="sfprjorg" type="xs:string"/>
	<xs:element name="sinusoid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longcm"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sngdate">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="caldate"/>
					<xs:element ref="time" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="geolage"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="southbc" type="xs:string"/>
	<xs:element name="spaceobq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="landsat"/>
				<xs:element ref="pathnum"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spcs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spcszone"/>
				<xs:choice>
					<xs:element ref="lambertc"/>
					<xs:element ref="transmer"/>
					<xs:element ref="obqmerc"/>
					<xs:element ref="polycon"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spcszone" type="xs:string"/>
	<xs:element name="spdoinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="indspref" minOccurs="0"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="direct"/>
					<xs:choice minOccurs="0">
						<xs:choice>
							<xs:element ref="ptvctinf"/>
							<xs:element ref="rastinfo"/>
						</xs:choice>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spdom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="descgeog"/>
				<xs:element ref="bounding"/>
				<xs:element ref="dsgpoly" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="specimen" type="xs:string"/>
	<xs:element name="spref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="horizsys" minOccurs="0"/>
				<xs:element ref="vertdef" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="srccite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="srccitea" type="xs:string"/>
	<xs:element name="srccontr" type="xs:string"/>
	<xs:element name="srccurr" type="xs:string"/>
	<xs:element name="srcinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="srccite"/>
				<xs:element ref="srcscale" minOccurs="0"/>
				<xs:element ref="typesrc"/>
				<xs:element ref="srctime"/>
				<xs:element ref="srccitea"/>
				<xs:element ref="srccontr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="srcprod" type="xs:string"/>
	<xs:element name="srcscale" type="xs:string"/>
	<xs:element name="srctime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="timeinfo"/>
				<xs:element ref="srccurr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="srcused" type="xs:string"/>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="status">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="progress"/>
				<xs:element ref="update"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stdorder">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="nondig"/>
					<xs:element ref="digform" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="fees"/>
				<xs:element ref="ordering" minOccurs="0"/>
				<xs:element ref="turnarnd" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stdparll" type="xs:string"/>
	<xs:element name="stereo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stratkey" type="xs:string"/>
	<xs:element name="stratkt" type="xs:string"/>
	<xs:element name="stratum">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stratkt"/>
				<xs:element ref="stratkey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="supplinf" type="xs:string"/>
	<xs:element name="svlong" type="xs:string"/>
	<xs:element name="taxoncl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="taxonrn"/>
				<xs:element ref="taxonrv"/>
				<xs:element ref="common" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="taxoncl" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxoncom" type="xs:string"/>
	<xs:element name="taxongen" type="xs:string"/>
	<xs:element name="taxonkey" type="xs:string"/>
	<xs:element name="taxonkt" type="xs:string"/>
	<xs:element name="taxonomy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="keywtax" maxOccurs="unbounded"/>
				<xs:element ref="taxonsys" minOccurs="0"/>
				<xs:element ref="taxongen" minOccurs="0"/>
				<xs:element ref="taxoncl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxonpro" type="xs:string"/>
	<xs:element name="taxonrn" type="xs:string"/>
	<xs:element name="taxonrv" type="xs:string"/>
	<xs:element name="taxonsys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classsys" maxOccurs="unbounded"/>
				<xs:element ref="idref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ider" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="taxonpro"/>
				<xs:element ref="taxoncom" minOccurs="0"/>
				<xs:element ref="vouchers" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="techpreq" type="xs:string"/>
	<xs:element name="tempkey" type="xs:string"/>
	<xs:element name="tempkt" type="xs:string"/>
	<xs:element name="temporal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tempkt"/>
				<xs:element ref="tempkey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="theme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="themekt"/>
				<xs:element ref="themekey" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="themekey" type="xs:string"/>
	<xs:element name="themekt" type="xs:string"/>
	<xs:element name="time" type="xs:string"/>
	<xs:element name="timeinfo">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="sngdate"/>
				<xs:element ref="mdattim"/>
				<xs:element ref="rngdates"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeperd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="timeinfo"/>
				<xs:element ref="current"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="tool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tooldesc"/>
				<xs:element ref="toolacc"/>
				<xs:element ref="toolcont" minOccurs="0"/>
				<xs:element ref="toolcite" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="toolacc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="onlink" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="toolinst"/>
				<xs:element ref="toolcomp" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="toolcite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citeinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="toolcomp" type="xs:string"/>
	<xs:element name="toolcont">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tooldesc" type="xs:string"/>
	<xs:element name="toolinst" type="xs:string"/>
	<xs:element name="transize" type="xs:string"/>
	<xs:element name="transmer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sfctrmer"/>
				<xs:element ref="longcm"/>
				<xs:element ref="latprjo"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="turnarnd" type="xs:string"/>
	<xs:element name="typesrc" type="xs:string"/>
	<xs:element name="udom" type="xs:string"/>
	<xs:element name="update" type="xs:string"/>
	<xs:element name="ups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="upszone"/>
				<xs:element ref="polarst"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="upszone" type="xs:string"/>
	<xs:element name="useconst" type="xs:string"/>
	<xs:element name="utm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="utmzone"/>
				<xs:element ref="transmer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="utmzone" type="xs:string"/>
	<xs:element name="vdgrin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longcm"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vertacc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vertaccr"/>
				<xs:element ref="qvertpa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vertacce" type="xs:string"/>
	<xs:element name="vertaccr" type="xs:string"/>
	<xs:element name="vertaccv" type="xs:string"/>
	<xs:element name="vertdef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="altsys" minOccurs="0"/>
				<xs:element ref="depthsys" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vouchers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="specimen"/>
				<xs:element ref="reposit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vpfinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vpftype"/>
				<xs:element ref="ptvctcnt" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vpflevel" type="xs:string"/>
	<xs:element name="vpfterm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vpflevel"/>
				<xs:element ref="vpfinfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vpftype" type="xs:string"/>
	<xs:element name="vrtcount" type="xs:string"/>
	<xs:element name="westbc" type="xs:string"/>
</xs:schema>
